{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
    <section class="container my-5">
    <h1>Crée une géoposition</h1>

    {{ include('admin_location/_form.html.twig') }}
    </section>

{% endblock %}
