<div class="mt-4">
	<a class="btn btn-primary rounded-top p-4" href="{{ path('app_admin_poi_index') }}">1 - Points d'interêts</a>
	<a class="btn btn-primary rounded-top p-4" href="{{ path('app_location_index') }}">2 - Géopositions</a>
	<a class="btn btn-primary rounded-top p-4" href="{{ path('app_admin_hike_index') }}">3- Guides</a>
</div>
