{% extends 'base.html.twig' %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
	<div class="form-container my-5 min-vh-100">
        <h1 class="subtitle fs-4 my-3">Connexion</h1>
		{% include "./components/login/loginForm.html.twig" %}
	</div>
{% endblock %}
